.searchbar{
    width: 100%;
    background-color:#A03037;
    height: 10vh;
}
#search{
    justify-items: center;
    /* display: flex; */
    margin-left: 20vw;
    width: 35vw;
    height: 6vh;
    margin-top: 2vh;
}

#bookimg{
    display: flex;
    width: 40vw;
    position: absolute;
    margin-top: 3vh;
    margin-left: 4%;
 
}
#bookstore{
    font-size: larger;
    border: 2px soid rebeccapurple;
    margin-top: -2.5vh;
    margin-left: 0.5vw;
    
}
#person-icon{
margin-left: 15vw;
font-size: 4.5vh;
font-size: 4.5vh;
}

#cart-icon{
margin-left: 5vw;
font-size: 5vw;
font-size: 4vh;
}
.books-container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap:wrap;
    align-items: stretch; 
    margin-left: 8vw;
    margin-right: 4vw;
}

.book-box {
    border: 0.1px solid #DBDBDB; 
    margin-left: 1.3vw;
    margin-bottom: 3vh;
    width: 20vw;
    height: 55vh;
    overflow: hidden;
    box-shadow: 100;
}
.cnt{
    /* width: 80%;  */
    height: 10vh;
    /* border: 2px solid red; */
}
.bookimage{
    position: absolute;
   width: 20vw;
   height:37vh;
   background-color:#DBDBDB;
    /* border: 1px soild green; */
}
.bookname{
    margin-bottom: 0.3vh;
    position: relative;
    margin-top: 25vh;
    /* border: 2px solid green; */
}
.writtenby{
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#star{
    position: relative;
    display: inline;

    border: 2px sild red;
    font-size: 0.68vw;
   
}
.line-through{
    font-size: smaller;
    font-weight: 300;
    color: grey;
    font-weight: lighter;
     text-decoration: line-through
}
.price{
    /* position: relative; */
}
#quick-view-cnt {
    background-color: #000000;
    color: white;
    padding: 4px 5px;
    width: 4.5vw;
    font-size: x-small;
    position: relative;
    left: 25px;
    top: 5px;
    border-radius: 2px;
    display: none;
}

.img-cnt:hover #quick-view-cnt {
    display: block;
    cursor: pointer;
}
/* styles.css (or your component's specific CSS file) */
.scroll-container {
    overflow-y: hidden;
}
