<div class="main">
    <div class="nav-cnt">
        <span routerLink="/bookstore/dashboard" style="cursor: pointer;">Home/ </span><span>My cart</span>
    </div>
    <div class="cart">
        <span class="mycart">MYCART {{books.length + totalcartbooks}}</span>
        <select matNativeControl class="mat-nav">
            <option value="add1">SRM Nagar, Potheri, Kattankulathur, 603203</option>
        </select>

        <div class="details" *ngFor="let book of books; let i=index"
            style="display: flex; flex-direction: row; margin-bottom: 1vw;">
            <div class="imgdiv">
                <img src="../../../assets/001.jpg" alt="" class="img">
            </div>
            <div class="info">
                <div class="bookname">
                    <h3>{{book.bookName}}</h3>
                </div>
                <div class="author">
                    <span style="font-weight: 100;">by {{book.author}}</span>
                </div>
                <div class="price">
                    <span
                        style=" margin-left: 1vw; margin-top: 1.25vh; position: absolute; font-weight: light;">Rs.{{book.discountPrice}}
                        <span class="line-through">Rs. {{book.price}}</span></span>
                </div>
                <div style="display:flex; margin-top: 6vh;">
                    <button style="border-radius:50%; border:1px solid #DBDBDB; width:2vw;height: 4vh;"
                        (click)="reduce(i)">-</button>
                    <div
                        style="width:3.5vw; display: flex; justify-content: center; align-items: center; border: 1px solid #DBDBDB;">
                        {{items[i]}}
                    </div>
                    <button style="border-radius:50%; border:1px solid #DBDBDB; width:2vw; height: 4vh;"
                        (click)="addOne(i)">+</button>
                    <label style="margin-left: 5vw; cursor: pointer;"
                        (click)="removebook(cartdetails[i]._id,i)">Remove</label>
                </div>

            </div>
        </div>
        <div class="button"><button mat-flat-button color="primary" (click)="placeorder()">PLACE ORDER</button></div>
    </div>

    <div class="address" style="">
        <div class="ddress" *ngIf="!isOrderPlaced">
            Address Details
        </div>
        <div class="addressform" *ngIf="isOrderPlaced" style="height: auto;">
            <div class="customer" style="display: flex; flex-direction: row;">
                <span style="font-size: 1.4rem; width: 10vw; padding: 1vw;">Customer_Details</span>
                <div class="addnewaddress"
                    style="border: 1px solid red; width: 10vw; height: 2.5vh; margin-left: 23vw; color: red;padding: 1vw; margin-top: 1.5vh;">
                    Add New Addres
                </div>
            </div>
            <div class="name_mobile" style="display: flex; margin-top: 3vh; padding: 1vw;">
                <div class="fullname" style="margin-left: 1vw;">
                    <mat-label>Full Name</mat-label><br>
                    <input type="text" style="height: 7vh; width: 20vw;">
                </div>
                <div class="mobile" style="margin-left: 1vw;">
                    <mat-label>Mobile Number</mat-label><br>
                    <input type="text" style="height: 7vh; width: 20vw;">
                </div>
            </div>
            <div class="work" style="padding-left: 1vw;">
                <span>Work</span><span style="color: red; margin-left: 2vw;"> Edit</span>
            </div>
            <div class="address" style="padding-left: 1vw;">
                <span style="height: 2vh;">Address</span>
                <div class="address-div">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus voluptate
                    excepturi sapiente consectetur quaerat tempora eveniet, qui fuga similique. Molestiae quisquam
                    quaerat nisi autem qui sint quo ea expedita?
                </div>
            </div>

            <div class="citytownstate" style="display: flex; padding: 1vw;">
                <div class="city">
                    <span>City/town</span><br>
                    <input type="text"
                        style="width:20vw; height: 6vh;background-color:  #f1f0f0; border: 1px solid #DBDBDB;"
                        placeholder="   Bengalore">
                </div>
                <div class="state" style="margin-left: 1vw;">
                    <span> State</span><br>
                    <input type="text"
                        style="width:20vw; height: 6vh; background-color:  #f1f0f0; border: 1px solid #DBDBDB;"
                        placeholder="     Karnataka">
                </div>
            </div>

            <!-- <div class="home" style="margin-top: 5vh; padding: 1vw;">
                <span>2.Home</span>
                <div class="address2">
                    <div class="a" style="margin-top: 3vh;">Address</div>
                    <div class="address-div2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo necessitatibus voluptate
                        excepturi sapiente consectetur quaerat tempora eveniet, qui fuga similique. Molestiae quisquam
                        quaerat nisi autem qui sint quo ea expedita?
                    </div>
                </div>

            </div> -->
            <div class="type" style="margin-top: 2vh; margin-bottom: 1vw; padding: 1vw;">
                <span>Type</span><br>
                <div class="type2" style="display: flex;margin-top: 2vh;">

                    <label><input type="radio" name="type" value="home" style="margin-left: 5vw;"> Home</label>
                    <label><input type="radio" name="type" value="work" style="margin-left: 3vw;"> Work</label>
                    <label><input type="radio" name="type" value="other" style="margin-left: 3vw;"> Other</label>
                </div>
            </div>

            <div class="button" style=""> <button style="width: 8vw; margin-top: 3vh;" mat-flat-button color="primary"
                    (click)="ordersummary()">CONTINUE</button></div>
        </div>

    </div>
    <div class="orderdetails" style="" *ngIf="orderclicked">
        <div style="margin-top: 3vh;"> <span
                style="margin-left: 3vw; margin-top: 2vh; font-weight: 400;font-size: 1.7rem; margin-top: 140vh;">Order
                Summery</span><br></div>
        <div class="details" *ngFor="let book of books; let i=index"
            style="display: flex; flex-direction: row; margin-bottom: 1vw; margin-top: 2vh;">
            <div class="imgdiv">
                <img src="../../../assets/001.jpg" alt="" class="img">
            </div>
            <div class="info">
                <div class="bookname">
                    <h3>{{book.bookName}}</h3>
                </div>
                <div class="author">
                    <span style="font-weight: 100;">by {{book.author}}</span>
                </div>
                <div class="price">
                    <span
                        style=" margin-left: 1vw; margin-top: 1.25vh; position: absolute; font-weight: light;">Rs.{{book.discountPrice}}
                        <span class="line-through">Rs. {{book.price}}</span></span>
                </div>
                <div class="totalamount" style="margin-top: 2vh; height: 3vh;width: 9vw; margin-left: 20vw; ">
                   Total Amount:{{totalamount[i]}}
                </div>
            </div>
        </div>
        <button mat-flat-button color="primary" style="margin-left: 38vw; width: 8vw; margin-bottom: 2vh;"
            (click)="checkout()">CHECKOUT</button>
    </div>
</div>