.nav-cnt{
padding: 2vh;
}

.main{
    /* border: 1px solid black; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
}
.cart{
    margin-top: 1vh ;
    width: 53vw;
    border: 1px solid #DBDBDB;
    height: auto;
    margin-right: 30vw;
}
.mycart{
    margin-left: 2vw;
    
}
.mat-nav{
    margin-left: 20vw;
    height: 5vh;
    margin-top: 3vh;
}
.img{
    width: 5vw;
    margin-left: 3vw;
    height: 15vh;
    margin-top: 3vh;
}
.info{
    margin-left: 3vw;
}
.line-through{
    font-size: smaller;
    font-weight: 300;
    color: grey;
    font-weight: lighter;
     text-decoration: line-through
}
.button{
    margin-left: 38vw;
    margin-bottom: 2vh;
}
.ddress{
 
    height: 5vh;
    padding: 1vw;
    width: 51.2vw;
    margin-left: -1.5vw;
    border: 1px solid #DBDBDB;
    width: 40;
    font-size: 1.4rem;
    margin-right: 3vw;
    
}
.address{
    /* border: 1px solid #DBDBDB; */
    width: 46vw;
    /* height: 10vh; */
    padding: 3vh;
    margin-top: 0vh;
}
.customer{
    width: 53vw;
    height: 10vh;
    border: 1px solid #DBDBDB;
}
.addressform{
    height: 10vh;
    border: 1px solid #DBDBDB;
   width: 53vw;
   margin-left: -1.5vw;
}
.work{
    margin-top: 4vh;
    margin-left: 1vw;
}.address-div{
    margin-top: 2vh;
    border: 1px solid #DBDBDB ;
    background-color: #f1f0f0;
    height: 12vh;
    padding: 1vw;
}
.address-div2{
margin-top: 1.5vh;
}

.orderdetails{
    margin-top:1vh;
    width: 53vw;
    border: 1px solid #DBDBDB;
}