<div class="searchbar" style="width: auto;">
    
    <div id="bookimg">

        <img src="../../../assets/education.png" style="width: 3vw; height: 5vh;">
        <div id="bookstore" style="color: white; font-weight: lighter; margin-top: -2vh;margin-left: 0.5vw;">
            <h2 style="font-weight: lighter; cursor: pointer;" (click)="bookstore()">Bookstore</h2>
        </div>
    </div>
    <input type="search" placeholder="  search......" style="font-size: 2.45vh;" id="search" [(ngModel)]="searchQuery" (input)="updateSearch()" >

    <div class="icons" style="display: flex; flex-direction: row;">
        <div
            style="margin-top: 7vh; display: flex; margin-left:6.7vw; position: absolute; color: white; font-weight: 150;" (click)="logout()">
            Profile</div>
        <mat-icon aria-hidden="false" aria-label="Example person icon" style="color: white;font-size:4vh ; left:3vw"
            fontIcon="person" id="person-icon">
        </mat-icon>
        <div class="cart" style="margin-left: 7vw;" (click)="goToCartPage()">
            <mat-icon id="cart-icon" style="color:white; font-size:4vh; width: 4vw; height: 3vh; padding: 1vw; margin-left: vw "(click)="goToCartPage()">
                shopping_cart
            </mat-icon>
            <div style="display: inline; position: relative; right: 5vw; top: 2vh; margin-top: 7.5vh;" >
                <span style="z-index: 1; font-weight: 100; color: white;">Cart</span>
            </div>
        </div>

    </div>
</div>

<router-outlet></router-outlet>

<div class="footer" style="width:auto;" >
    <div class="container" style="width: 100%; background-color: black; ">
        <div class="content" style="width: 100%;">
            <p id="copyright-content">Copyright © 2024, Bookstore Private Limited. All Rights Reserved</p>
        </div>
    </div>
</div>