.searchbar{
    width: 100%;
    background-color:#A03037;
    height: 10vh;
   
}#search{
    justify-items: center;
    /* display: flex; */
    margin-left: 25vw;
    width: 35vw;
    height: 6vh;
    margin-top: 2vh;
}

#bookimg{
    display: flex;
    width: 20vw;
    position: absolute;
    margin-top: 3vh;
    margin-left: 10vw;
    border: 4px soild black;
 
}

#person-icon{
    position: relative;
    margin-left: 4vw;
    margin-top: 2vh;
    font-size: 4vh;
}
.icons{
    width: 25vw;
    height: 10vh;
    margin-left:70vw;
    margin-top: -8vh;
}

.content {
    position: relative;
    margin-top: 0%;
    width: 100vw;
    height: 10vh;
    background-color: #2E1D1E;
}

#copyright-content {
    color: white;  
    margin: 0px 160px;
    padding-top: 18px;
}
.footer{

    position: relative;
    margin-top: 30%;
}