<div class="logindiv">
  <div class="shopimg">
    <img src="../../../assets/img.png" id="myimg" alt="logo">
    <div class="imgtxt" style="margin-left: 5vw;">
      <h3>ONLINE BOOK SHOPPING</h3>
    </div>
  </div>
  <div class="form">
    <mat-tab-group class="full">

      <mat-tab label="Login">

        <div class="loginform">
          <form class="example-form">
            <mat-label>Email id</mat-label>
            <mat-form-field class="example-full-width" apperaence="outline">

              <input matInput style="height: 3vh !important;" placeholder="Enter Your Email...." value="">
            </mat-form-field>

            <mat-label>Password</mat-label>
            <mat-form-field class="example-full-width" appearaence="outline">

              <textarea matInput placeholder="Enter Your Password....................."></textarea>
            </mat-form-field>
            <div class="forgotpassword">
              <mat-label>Forgot Password?</mat-label>
            </div>
            <div class="loginbtn">
              <button mat-raised-button style="width: 26vw;  background-color: #A03037;" color="warn">
                Login</button>
            </div>
            <h1 style="font-weight: lighter;">_____________OR_____________</h1>
            <div class="buttonscnt">
              <button mat-raised-button style="width: 12.5vw;" color="primary">Facebook</button>
              <button mat-raised-button style="width: 12.5vw;">Google</button>
            </div>
          </form>

        </div>
      </mat-tab>

      <!-- <mat-tab label="Signup">
        <div class="signupform">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-label>Full name</mat-label><br>
                  <mat-form-field class="example-full-width" style="width: 100%;" appearaence="outline">

                    <input matInput>
                  </mat-form-field>
                </td>

              </tr>
            </table>

            <p> <mat-label>Email_Id</mat-label><br>
              <mat-form-field class="example-full-width" style="width: 100%;" appearaence="outline">

                <textarea matInput placeholder=""></textarea>
              </mat-form-field>
              <mat-label>Password</mat-label><br>
              <mat-form-field class="example-full-width">

                <textarea matInput placeholder="Enter Your Email" style="height: 1vh !important;" style="width: 100%;"
                  appearaence="outline"></textarea>
              </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td> <mat-label>Mobile Number</mat-label>
                  <mat-form-field class="example-full-width" style="width: 100%;" appearaence="outline">

                    <input matInput placeholder="Ex. San Francisco">
                  </mat-form-field>
                </td>


              </tr>
            </table>
          </form>

        </div>


      </mat-tab> -->
      <mat-tab label="Signup">
        <div class="signupform">
          <form class="example-form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-label>Full name</mat-label><br>
                  <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                    <input matInput placeholder="Enter Your Name" style="height: 2vh;">
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <p>

              <mat-label>Email Id</mat-label><br>
              <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <input matInput placeholder="Enter Your Email......" style="height: 2vh;">
              </mat-form-field>

              <mat-label>Password</mat-label><br>
              <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <input matInput placeholder="Enter Your Password......" style="height: 2vh;">
              </mat-form-field>
            </p>

            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-label>Mobile Number</mat-label>
                  <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                    <input matInput placeholder="Ex. San Francisco" style="height: 2vh;">
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <button mat-raised-button color="warn" style="background-color: #A03037">Signup</button>
          </form>
        </div>
      </mat-tab>


    </mat-tab-group>

  </div>

</div>