<div class="logindiv">
  <div class="shopimg">
    <img src="../../../assets/img.png" id="myimg" alt="logo">
    <div class="imgtxt" style="margin-left: 5vw;">
      <h3>ONLINE BOOK SHOPPING</h3>
    </div>
  </div>
  <div class="form">
    <div class="formdiv">
      <mat-tab-group class="full">
        <mat-tab label="Login">
          <div class="loginform">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="example-form">
              <div class="email">
                <mat-label>Email</mat-label><br>
              </div>
              <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <input formControlName="email" matInput placeholder="" style="height: 2vh;">
                <div style="color:red;" *ngIf="submitted && f?.['email']?.errors?.['required'] ">Email is required</div>
              </mat-form-field>
              
              <div class="password"> <mat-label>Password</mat-label><br></div>
              <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                <input formControlName="password" matInput placeholder="" style="height: 2vh;">
                <div style="color:red;" *ngIf="submitted && f?.['password']?.errors?.['required'] ">Password is required
                </div>
              </mat-form-field>
              
              <div class="forgotpassword">
                <mat-label>Forgot_Password?</mat-label>
              </div>
              <div class="loginbtn">
                <button type="submit" mat-raised-button
                  style="width: 20vw;  background-color: #A03037; margin-top: 3vh;" color="warn">
                  Login</button>
              </div>
              <h3 style="font-weight: lighter; margin-top: 2vh; margin-left: 7vw;">_______OR_______</h3>
              <div class="buttonscnt" style="display: flex; flex-direction: row;">
                <button mat-raised-button style="width: 12.5vw;" color="primary">Facebook</button>
                <button mat-raised-button style="width: 12.5vw;">Google</button>
              </div>
            </form>

          </div>
        </mat-tab>
        <mat-tab label="Signup">
          <div class="signupform">
            <form class="example-form" [formGroup]="RegistrationForm" (ngSubmit)="registerUser()">
              <div class="fullname"><mat-label>Full name</mat-label><br></div>

              <mat-form-field class="example-full-width" style="width: ;" appearance="outline">
                <input matInput formControlName="fullname" placeholder="" style="height: 2vh; width: 10vw; background-color: ;">
                <div style="color:red; height: 2vh;" *ngIf="usubmitted && k?.['fullname']?.errors?.['required'] ">Name is
                  required
                </div>
              </mat-form-field>
               <div class="emailid"> <mat-label>Email Id</mat-label><br></div>
                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                  <input matInput formControlName="useremail" placeholder="" style="height: 2vh;">
                  <div style="color:red;" *ngIf="usubmitted && k?.['useremail']?.errors?.['required'] ">Email is
                    required
                  </div>
                </mat-form-field>

               <div class="passwordid"> <mat-label>Password</mat-label><br></div>
                <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                  <input formControlName="userpassword" matInput placeholder="" style="height: 2vh;">
                  <div style="color:red;" *ngIf="usubmitted && k?.['userpassword']?.errors?.['required'] ">Password is
                    required</div>
                </mat-form-field>

              <table class="example-full-width" cellspacing="0">
                <tr>
                  <td>
                    <mat-label>Mobile Number</mat-label>
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="outline">
                      <input formControlName="phone" matInput placeholder="" style="height: 2vh;">
                      <div style="color:red;" *ngIf="usubmitted && k?.['phone']?.errors?.['required'] ">Mobile Number is
                        required</div>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <button type="submit" mat-raised-button color="warn" style="background-color: #A03037">Signup</button>
            </form>
          </div>
        </mat-tab>


      </mat-tab-group>
    </div>

  </div>

</div>