.main{
    /* border: 2px solid black; */
    height: 100%;
    width: 100%;
}
.image1{
    /* margin-top: 30px; */
    height: 10vh;
    position: relative;
    /* border: 3px solid red; */
    width: 15vw;
    
}
.image2{
    position: absolute;
    /* border: 2px solid green; */
    height: 10vh;
 margin-top: 10vh;
   width: 5vw;
   height: 10vh;
 
}
.content{
    display: inline;
    position: absolute;
    margin-left: 39vw;
    /* border: 2px solid red; */
    height: 140vh;
    width: 40vw;
}

.bookname{
    position: relative;
    margin-bottom: -2.1vh;
}
.writtenby{
    margin-bottom: 2.7vh;
}
.line-through{
    font-size: smaller;
    font-weight: 300;
    color: grey;
    font-weight: lighter;
     text-decoration: line-through
}